
<form action="#" method="POST" class="form__add-point">
  <input type="text" id="id" placeholder="">
  <input type="date" id="date" placeholder="">
  <input type="number" id="lat" placeholder="Latitude">
  <input type="number" id="lon" placeholder="Longitude">
  <input type="text" id="input-namereference" placeholder="Name reference">
  <input type="number" id="input-ppm" placeholder="Ppm">
  <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
  <div class="two-row-btn">
      <input type="button" value="GPS" class="input-btn input-gps">
      <input type="button" value="Screen" class="input-btn input-screen">
  </div>
  <input type="submit" value="Insert into layer" class="input-btn input-submit">
  <input type="button" value="Cancel" class="input-btn input-cancel">
</form>
