@import '../../../../sass/variables';
@import '../../../../sass/rem';



.popup--fullhight {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  border: 1px solid $grey-dark;
  height: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;

  background-color: $primary;
  font-family: $font-primary;
  color: $secondary;
  font-size: 0.8rem;

  &__header {
      display: flex;
      flex-direction: row;
      margin-top: rem(10px);


  }

  &__icon {
      margin-top: rem(5px);
      margin-left: rem(5px);
      width: rem(25px);
      height: rem(25px);


  }

  &__title {
      margin-top: rem(12px);
      margin-left: rem(5px);

  }

  &__subtitle {
      margin-top: rem(20px);
      margin-bottom: rem(20px);
      text-align: center;
      font-size: 1.1rem;
  }

  &__foldable {
      display: flex;
      flex-direction: column;
      align-items: center;



      &-parameter {
          display: block;
          text-align: center;
          margin-bottom: rem(10px);

      }



      &-setdate {
          width: 50vw;
          height: 30px;
          border-radius: (4px);
          margin-bottom: 1rem;

      }


      &-btn {
          display: block;
          color: $secondary;
          background-color: $success;
          width: 40%;
          height: rem(30px);



      }

  }

  &__footer {

      margin-top: rem(5px);
      margin-bottom: rem(10px);





      h2 {
          font-size: 0.9rem;
          margin-bottom: rem(15px);
          margin-left: rem(10px);
          text-align: center;

      }

      .form-group {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
      }
      select {
          margin-left: rem(10px);
          margin-right: rem(10px);
      }
      button {
          display: inline-block;
          color: $secondary;
          background-color: $success;
          width: 40%;


      }

  }

}

