@import 'variables';

.popup {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: salmon;
  border: 1px solid $grey-dark;
  height: 50%;
  //opacity: 0;
  //visibility: hidden;
  transition: opacity 0.5s ease-in;
  background-color: $primary-sft;
  color: hsla(0, 0, 0, 0.9);
}
.popup--show {
  opacity: 1;
  visibility: visible;

}



.popup__details {
  position: absolute;
  top: 15%;
  left: 5%;
  padding: 8px 6px;
  color: $secondary;

  &-name {
      padding-bottom: 10px;
  }
}

.popup__coord {
  position: absolute;
  top: 47%;
  left: 5%;
  padding: 8px 6px;
  color: $secondary;

  &-detail {
      padding-bottom: 10px;
  }
}

.popup__list {
  position: absolute;
  top: 22%;
  left: 60%;
  padding: 8px 6px;
  width: 30%;
  height: 50%;
  text-align: right;
  color: $secondary;
  font-style: italic;
  font-size: 0.9rem;

  &-li {
      padding: 3px;
  }

  &-li::before {
      content: "✅";
      padding-right: 10px;

  }
}

.btn-access {
  position: absolute;
  top: 84%;
  left: 30%;
  color: $primary-sft;
  background-color: $secondary;
}



.popup--fullhight {
  //position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $primary;
  font-family: $font-primary;
  color: $secondary;
  font-size: 0.8rem;
  z-index: 10;

  &__header {
      display: flex;
      flex-direction: row;
      margin-top: rem(10px);


  }

  &__icon {
      margin-top: rem(5px);
      margin-left: rem(5px);
      width: rem(25px);
      height: rem(25px);


  }

  &__title {
      margin-top: rem(12px);
      margin-left: rem(5px);

  }

  &__subtitle {
      margin-top: rem(20px);
      margin-bottom: rem(20px);
      text-align: center;
      font-size: 1.1rem;
  }

  &__foldable {
      display: flex;
      flex-direction: column;
      align-items: center;



      &-parameter {
          display: block;
          text-align: center;
          margin-bottom: rem(10px);

      }



      &-setdate {
          width: 50vw;
          height: 30px;
          border-radius: (4px);
          margin-bottom: 1rem;
      //     display: flex;
      //     flex-direction: row;
      //     align-items: center;
      //     justify-content: space-between;
      //     margin-bottom: rem(20px);


      //     &-mes {
      //         margin-right: rem(15px);

      //     }

      //     &-day {
      //         margin-right: rem(15px);
      //     }

      //     &-hour {

      //     }

      }


      &-btn {
          display: block;
          color: $secondary;
          background-color: $success;
          width: 40%;
          height: rem(30px);



      }

  }
  &__graph {
      margin: rem(10px 10px);
      width: calc(100vw -10px);
      height: rem(230px);
      border: 1px solid black;
  }
  &__footer {

      margin-top: rem(5px);
      margin-bottom: rem(10px);





      h2 {
          font-size: 0.9rem;
          margin-bottom: rem(15px);
          margin-left: rem(10px);
          text-align: center;

      }

      .form-group {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
      }
      select {
          margin-left: rem(10px);
          margin-right: rem(10px);
      }
      button {
          display: inline-block;
          color: $secondary;
          background-color: $success;
          width: 40%;


      }

  }

}

