:root {
  --switch-size: 34px;
  --switch-radius: 30px;
  --switch-color-off: #a1887f;
  --switch-color-on: #ff5722;
  --switch-label-size: 1.2rem;
  --slider-color: #fff;
  --slider-size: var(--switch-size);
}
//-------------
//VARIABLES
//--------------

//colors palette-------------------------------------------------------------
$primary: #78909C;
$primary-sft: #8a9ea8;
$primary-sft2: #95a8b1;
$secondary: #fff;
$lime: #cede01;
$alternative: #323d48;


//color buttons-------------------------------------------------------------
$cancel: #DB545D;
$error: #DB545D;
$edit: #8dc4b4;
$success: #48a1f4;
$signup: #dd8731;
//grey scale------------------------------------------------------------------
$grey-dark: #7d7d7d;
$grey-medium: #999999;
$grey2-light: #BBBBBB;
//Scaffolding------------------------------------------------------------------
//primer pklano de todos los textos
//color de enlaces y estilo
//fondo de todas las pantallas por si no se cargan
$link-decoration: underline;
$link-hover: none;

//Fonts------------------------------------------------------------------------
$font-size: 14;

$font-primary: 'Roboto', sans-serif;
$font-secondary: "Menlo-Regular", monospace;

$font-family-primary: $font-primary, sans-serif;
$font-family-seconday: $font-secondary, Arial, sans-serif;


//devide width breakpoints
$tablet-breakpoint: 767;
$desktop-breakpoint: 1022;

