<div class="popup">
  <button type="button" class="btn btn--close popup__close" (click)="close()">&times;</button>
  <div class="popup__details">
      <h1 class="popup__details-name">{{data.comun[0]}}</h1>
      <h2 class="popup__details-address">{{data.comun[1]}}</h2>
  </div>
  <div class="popup__coord">
      <p class="popup__coord-detail">{{data.comun[3]}}</p>
      <p class="popup__coord-detail">{{data.comun[4]}}</p>
      <p class="popup__coord-detail">Altitud: {{data.comun[2]}} msnm</p>
  </div>
  <ul class="popup__list" *ngIf="data.air">
      <li class="popup__list-li" *ngFor="let item of data.air"></li>
  </ul>
  <ul class="popup__list" *ngIf="data.meteo">
    <li class="popup__list-li" *ngFor="let item of data.meteo"></li>
</ul>
  <button class="btn btn-access" type="submit">Access to data</button>
</div>
