@import 'variables';
@import 'rem';

.popup {
  z-index: 1500;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 43vh;
  width: 100vw;
  border: 1px solid $grey-dark;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity 0.5s ease-in;
  background-color: $primary-sft;
}
// .popup--show {
//   opacity: 1;
//   visibility: visible;

// }

.popup__details {
  position: absolute;
  top: 15%;
  left: 5%;
  padding: 8px 6px;
  color: $secondary;

  &-name {
      padding-bottom: 10px;
  }
}

.popup__coord {
  position: absolute;
  top: 47%;
  left: 5%;
  padding: 8px 6px;
  color: $secondary;

  &-detail {
      padding-bottom: 10px;
  }
}

.popup__list {
  position: absolute;
  top: 18%;
  left: 60%;
  width: 30%;
  height: 50%;
  text-align: right;
  color: $secondary;
  font-style: italic;
  font-size: 0.9rem;

  &-li {
      padding: 3px;
  }

  &-li::before {
      content: "✅";
      padding-right: 10px;

  }
}

.btn-access {
  position: absolute;
  top: 84%;
  left: 25%;

  color: $secondary;
  background-color: $success;
  height: rem(30px);
  font-weight: 500;
  font-size: rem(17px);
  font-family: $font-primary;
  text-transform: uppercase;
  cursor: pointer;
}




