<div class="popup">
  <button type="button" class="btn btn--close popup__close" (click)="close()">&times;</button>
  <div class="popup__details">
      <h1 class="popup__details-name">{{data.estacion}}</h1>
      <h2 class="popup__details-address">{{data.direccion}}</h2>
  </div>
  <div class="popup__coord">
      <p class="popup__coord-detail">{{data.lon_geogra}}</p>
      <p class="popup__coord-detail">{{data.lat_geogra}}</p>
      <p class="popup__coord-detail">Altitud: {{data.altitud}} msnm</p>
  </div>
    <ul class="popup__list" *ngIf="isAir; else elseBlock">
      <li class="popup__list-li" *ngIf="eresNull(data.no2)" data-foo="no2: " >{{data.no2}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.so2)" data-foo="so2: ">{{data.so2}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.co)" data-foo="co: ">{{data.co}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.pm10)" data-foo="pm10: ">{{data.pm10}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.pm2_5)" data-foo="pm2,5: ">{{data.pm2_5}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.o3)" data-foo="o3: ">{{data.o3}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.btx)" data-foo="btx_ ">{{data.btx}}</li>
      <li class="popup__list-li" *ngIf="eresNull(data.hc)" data-foo="hc: ">{{data.hc}}</li>
    </ul>
    <ng-template #elseBlock>
      <ul class="popup__list">
        <li class="popup__list-li" data-foo="V.viento: ">{{data.v_viento}}</li>
        <li class="popup__list-li" data-foo="Dir.viento: ">{{data.dir_viento}}</li>
        <li class="popup__list-li" data-foo="Tª: ">{{data.temperatura}}</li>
        <li class="popup__list-li" data-foo="Hum.rel: ">{{data.hum_rel}}</li>
        <li class="popup__list-li" data-foo="Presión: ">{{data.presion}}</li>
        <li class="popup__list-li" data-foo="Rad.solar: ">{{data.rad_solar}}</li>
        <li class="popup__list-li" data-foo="Precip: ">{{data.precipitacion}}</li>
      </ul>
    </ng-template>

  <button class="btn btn-access" type="button" (click)="openBigPopup()">Access to data</button>
</div>
