<table class="table-points">
  <caption class="table__title">Layer name</caption>
  <thead class="table__header">
      <tr class="table__row">
          <th class="table__cel">Id</th>
          <th class="table__cel">Modified</th>
          <th class="table__cel">Name</th>
          <th class="table__cel">Ppm</th>
          <th class="table__cel"></th>
          <th class="table__cel"></th>
          <th class="table__cel"></th>
      </tr>
  </thead>
  <tbody class="table__body">
      <tr class="table__row--points">
          <td class="table__cel--points">1</td>
          <td class="table__cel--points">Date</td>
          <td class="table__cel--points">Point-W</td>
          <td class="table__cel--points">41</td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--view">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#606060" stroke-width="1" stroke-linecap="butt" stroke-linejoin="bevel">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
              </button>
          </td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-linejoin="bevel">
                    <path d="M16 3l5 5L8 21H3v-5L16 3z"/>
                  </svg>
              </button>
          </td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--delete">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-linejoin="bevel">
                      <path d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6"/>
                  </svg>
              </button>
          </td>
      </tr>
      <tr class="table__row--points">
          <td class="table__cel--points">1</td>
          <td class="table__cel--points">Date</td>
          <td class="table__cel--points">Point-W</td>
          <td class="table__cel--points">41</td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--view">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#606060" stroke-width="1" stroke-linecap="butt" stroke-linejoin="bevel">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
              </button>
          </td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-linejoin="bevel">
                    <path d="M16 3l5 5L8 21H3v-5L16 3z"/>
                  </svg>
              </button>
          </td>
          <td class="table__cel--icon">
              <button class="btnsvg btnsvg--delete">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-linejoin="bevel">
                      <path d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6"/>
                  </svg>
              </button>
          </td>
      </tr>

  </tbody>
</table>
