<div class="container">
  <form class="form" action="#" method="GET">
      <div class="form__colA">

          <input type="checkbox" id="Pza. España">
          <label class="side-label" for="Pza. España">Pza. España</label>

          <input type="checkbox" id="Escuelas Aguirre">
          <label class="side-label" for="Escuelas Aguirre">Escuelas Aguirre</label>

          <input type="checkbox" id="Arturo Soria">
          <label class="side-label" for="Arturo Soria">Arturo Soria</label>

          <input type="checkbox" id="Avda. Ramon y Cajal">
          <label class="side-label" for="Avda. Ramon y Cajal">Avda. Ramon y Cajal</label>

          <input type="checkbox" id="Villaverde">
          <label class="side-label" for="Villaverde">Villaverde</label>

          <input type="checkbox" id="Farolillo">
          <label class="side-label" for="Farolillo">Farolillo</label>

          <input type="checkbox" id="Casa de campo">
          <label class="side-label" for="Casa de campo">Casa de campo</label>

          <input type="checkbox" id="Barajas pueblo">
          <label class="side-label" for="Barajas pueblo">Barajas pueblo</label>

          <input type="checkbox" id="Pza. del Carmen">
          <label class="side-label" for="Pza. del Carmen">Pza. del Carmen</label>

          <input type="checkbox" id="Moratalaz">
          <label class="side-label" for="Moratalaz">Moratalaz</label>

          <input type="checkbox" id="Cuatro Caminos">
          <label class="side-label" for="Cuatro Caminos">Cuatro Caminos</label>

          <input type="checkbox" id="Barrio del Pilar">
          <label class="side-label" for="Barrio del Pilar">Barrio del Pilar</label>

          <input type="checkbox" id="Castellana">
          <label class="side-label" for="Castellana">Castellana</label>
      </div>
      <div class="form__colB">
          <input type="checkbox" id="Pza. Castilla">
          <label class="side-label" for="Pza. Castilla">Pza. Castilla</label>

          <input type="checkbox" id="Vallecas">
          <label class="side-label" for="Vallecas">Vallecas</label>

          <input type="checkbox" id="Mendez Alvaro">
          <label class="side-label" for="Mendez Alvaro">Mendez Alvaro</label>

          <input type="checkbox" id="Parque del Retiro">
          <label class="side-label" for="Parque del Retiro">Parque del Retiro</label>

          <input type="checkbox" id="Tres Olivos">
          <label class="side-label" for="Tres Olivos">Tres Olivos</label>

          <input type="checkbox" id="Juan Carlos I">
          <label class="side-label" for="Juan Carlos I">Juan Carlos I</label>

          <input type="checkbox" id="El Pardo">
          <label class="side-label" for="El Pardo">El Pardo</label>

          <input type="checkbox" id="Sanchinarro">
          <label class="side-label" for="Sanchinarro">Sanchinarro</label>

          <input type="checkbox" id="Pza. Eliptica">
          <label class="side-label" for="Pza. Eliptica">Pza. Eliptica</label>

          <input type="checkbox" id="Urb. Embajada">
          <label class="side-label" for="Urb. Embajada">Urb. Embajada</label>

          <input type="checkbox" id="Ensanche Vallecas">
          <label class="side-label" for="Ensanche Vallecas">Ensanche Vallecas</label>

          <input type="checkbox" id="Select all">
          <label class="side-label side-label--selectall" for="Select all">Select all</label>
      </div>
  </form>
</div>
