@import '../../../../sass/variables';
@import '../../../../sass/rem';


.container {
  display: flex;
  justify-content: center;

}
.form {
    margin: rem(10px 10px);
    width: calc(100vw -10px);
    height: rem(260px);


    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: rem(10px);

    background:
    linear-gradient(40deg, transparent 85%, $lime),
    linear-gradient(-40deg, $primary 20%, $primary 90%);


    &__colA {
        grid-column-start: 0;
        grid-column-end:   1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 10px;



    }
    &__colB {
        grid-column-start: 1;
        grid-column-end:   2;
        display: flex;
        flex-direction: column;
        justify-content: start;



    }
}


input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

.side-label {
    display: block;
    position: relative;
    margin: 3px 0;
    padding-left: 25px;
    cursor: pointer;

  }

  .side-label--selectall {
    margin-top: rem(20px);
    color: $lime;
  }

  .side-label::before, .side-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

   input[type="checkbox"] + .side-label::before,
   input[type="checkbox"] + .side-label::after {
    border-radius: 50%;
  }

  .side-label::before {
    display: block;
    width: 15px;
    height: 15px;
    border: 1.3px solid $lime;
  }

  input:focus + .side-label::before {
    border-color: $lime;
  }

  .side-label::after {
    display: none;
    width: 7px;
    height: 7px;
    margin: 4px;
    background-color: $lime;
  }

  input:checked + .side-label::after {
    display: block;
  }
