<div class="popup popup--show">
  <button type="button" class="btn btn--close popup__close">&times;</button>
  <div class="popup__details">
      <h1 class="popup__details-name">Station name</h1>
      <h2 class="popup__details-address">Address</h2>
  </div>
  <div class="popup__coord">
      <p class="popup__coord-detail">Lat</p>
      <p class="popup__coord-detail">Long</p>
      <p class="popup__coord-detail">Altitude</p>
  </div>
  <ul class="popup__list">
      <li class="popup__list-li">no2</li>
      <li class="popup__list-li">so2</li>
      <li class="popup__list-li">co</li>
      <li class="popup__list-li">pm10</li>
      <li class="popup__list-li">pm2.5</li>
      <li class="popup__list-li">ozono</li>
      <li class="popup__list-li">btx</li>
      <li class="popup__list-li">hc</li>

  </ul>

  <button class="btn btn-access" type="submit">Access to data</button>

</div>
