@import '../../../../sass/variables';
@import '../../../../sass/rem';

.mapbox-directions-component {
  width: 70vw;
}
.mapbox-directions-profile {
  margin-left: 0px;
}

.map {
  height: 86vh;
  border-color: hsla(0, 0, 70%, 1);
  font-family: $font-family-seconday;
  position: relative;

  background-image: url('/assets/icons/grid.svg')
}

.menu {
  position: absolute;
  z-index: 10;
  right: 3rem;
  top: 1rem;
  background: $secondary;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}


.svg-layers {
  position: absolute;
  right: 35px;
  bottom: 20px;
  z-index: 10;


}


//markers

.markerAir {
  background-image: url('/assets/icons/airquality_house.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

}

.markerMeteo {
  background-image: url('/assets/icons/thermometer.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
