<div class="popup">
  <button type="button" class="btn btn--close popup__close">&times;</button>
  <div class="popup__upcontrol">
    <h1 class="popup__upcontrol-title">Station name</h1>
    <select class="popup__upcontrol-parameter" name="parameter" id="parameter">
      <option value="select" selected>select parameter</option>
      <option value="no2">no2</option>
      <option value="so2">so2</option>
      <option value="co">co</option>
      <option value="pm10">pm10</option>
      <option value="pm2.5">pm2.5</option>
      <option value="ozono">ozono</option>
      <option value="btx">btx</option>
      <option value="hc">hc</option>
    </select>
    <input type="date" class="popup__upcontrol-date" placeholder="">
    <button type="submit" class="popup__upaction btn">Show</button>
  </div>
  <div class="img"></div>
  <div class="popup__downcontrol">
    <h1 class="popup__downcontrol-title">Add another station</h1>
    <div class="popup__downontrol-box">
      <select class="popup__downcontrol-station">
        <option value="select" selected>station</option>
        <option value="Pza. España">Pza. España</option>
        <option value="Escuelas Aguirre">Escuelas Aguirre</option>
        <option value="Arturo Soria">Arturo Soria</option>
        <option value="Avda. Ramon y Cajal">Avda. Ramon y Cajal</option>
        <option value="Villaverde">Villaverde</option>
        <option value="Farolillo">Farolillo</option>
        <option value="Casa de campo">Casa de campo</option>
        <option value="Barajas pueblo">Barajas pueblo</option>
        <option value="Pza. del Carmen">Pza. del Carmen</option>
        <option value="Moratalaz">Moratalaz</option>
        <option value="Cuatro Caminos">Cuatro Caminos</option>
        <option value="Barrio del Pilar">Barrio del Pilar</option>
        <option value="Castellana">Castellana</option>
        <option value="Pza. Castilla">Pza. Castilla</option>
        <option value="Vallecas">Vallecas</option>
        <option value="Mendez Alvaro">Mendez Alvaro</option>
        <option value="Parque del Retiro">Parque del Retiro</option>
        <option value="Tres Olivos">Tres Olivos</option>
        <option value="Juan Carlos I">Juan Carlos I</option>
        <option value="El Pardo">El Pardo</option>
        <option value="Sanchinarro">Sanchinarro</option>
        <option value="Pza. Eliptica">Pza. Eliptica</option>
        <option value="Urb. Embajada">Urb. Embajada</option>
        <option value="Ensanche Vallecas">Ensanche Vallecas</option>
      </select>
      <button type="submit" class="popup__downaction btn">Add</button>
    </div>
  </div>
</div>
