<div class="popup">
  <button type="button" class="btn btn--close popup__close" (click)="close()">&times;</button>
  <h1 class="popup__title">{{propertiesStation.estacion}}</h1>
  <form class="popup__upcontrol" #parameterForm="ngForm" (ngSubmit)="loadDataforChartById(parameterForm)">
    <select class="popup__upcontrol-parameter" name="parameter" id="parameter" [(ngModel)]="preselected">
      <option *ngFor="let item of data" [value]= "item.Id">
        {{item.Name}}
      </option>
    </select>
    <input type="date" class="popup__upcontrol-date" id="date" name="date" min="2019-01-01" max="2020-03-30">
    <button type="submit" class="popup__upaction btn">Show</button>
  </form>
  <app-chart [data]="dataStream"></app-chart>
  <div class="popup__downcontrol">
    <h1 class="popup__downcontrol-title">Add another station</h1>
    <form class="popup__downontrol-box" #secondStationForm="ngForm" (ngSubmit)="loadSecondStationforChart(secondStationForm)">
      <select class="popup__downcontrol-station" name="station" id="station">
        <option value="select" selected>Station</option>
        <option *ngFor="let station of secondaryStationList" [value]= "station.properties.codigo_cor">{{station.properties.estacion}}</option>
      </select>
      <button type="submit" class="popup__downaction btn">Add</button>
    </form>
  </div>
</div>
