@import 'variables';
@import 'rem';


.popup {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;

  border: 1px solid $grey-dark;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-sft;
  font-family: $font-primary;

  &__title {
    display: inline-block;
    font-size: 1rem;
    color: $secondary;
    padding-top: 30px;
    padding-left: 25px;
    margin-left: -190px;
  }
}



.popup__upcontrol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;


  &-parameter {
    width: 40vw;
    height: 30px;
    border-radius: (4px);
    border: none;

  }
  &-date {
    width: 40vw;
    height: 30px;
    border-radius: (4px);
    border: none;
  }
}

.popup__upaction {
  display: block;
  color: $secondary;
  background-color: $success;
  width: 40%;
  height: rem(30px);
  font-weight: 500;
  font-size: rem(17px);
  font-family: $font-primary;
  text-transform: uppercase;
  cursor: pointer;
}

.popup__downcontrol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  width: 95%;

  &-title {
    display: inline-block;
    font-size: 0.8rem;
    padding-bottom: 8px;
    text-align: center;
    color: $secondary;
  }
  &-box {
    display: flex;
    flex-direction: row;
  }
  &-station {
    margin-right: 20px;
    width: 40vw;
    height: 30px;
    border-radius: (4px);
    border: none;

  }
}

.popup__downaction {
  display: inline-block;
  color: $secondary;
  background-color: $success;



  height: rem(30px);
  font-weight: 500;
  font-size: rem(17px);
  font-family: $font-primary;
  text-transform: uppercase;
  cursor: pointer;

}


@media screen and (min-width: 767px) {


}

@media screen and (min-width: 1024px) {


}
