@import 'variables';

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 100%;
  border: 1px solid $grey-dark;
  background-color: $primary-sft;
  font-size: 0.8rem;
  font-family: $font-primary;
}

.img {
  background-image: url(../../../../assets/img/chart-example.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  margin-top: 80px;
}

.popup__control {
  display: flex;
  flex-direction: column;

  &--secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-title {
    display: inline-block;
  }
  &-parameter {

  }
  &-date {

  }
  &-station {

  }
}

.popup__action {
  border: none;
  width: 50%;
}

