<div class="user">
  <div class="user-header">
      <div class="user-desc">
          <div>data.username</div>
          <div>My account</div>
      </div>
      <div class="user-avatar">
          <img class="user-avatar__img" src="../../../../assets/icons/login-w-icon.png" alt="Avatar">
      </div>
  </div>
  <div class="user-details">
      <div class="user-details__username">
          <div class="field">Username</div>
          <div class="data">data</div>
      </div>
      <div class="user-details__initials">
          <div class="field">Initials</div>
          <div class="data">data</div>
      </div>
      <div class="user-details__email">
          <div class="field">Email</div>
          <div class="data">data</div>
      </div>
      <div class="user-details__password">
          <div class="field">Password</div>
          <div class="data">data</div>
      </div>

  </div>

</div>
