<app-header></app-header>
<div class="user">
  <div class="user-header">
      <div class="user-desc">
          <div>Username</div>
          <div>My account</div>
      </div>
      <div class="user-avatar">
          <img class="user-avatar__img" src="../../../../assets/icons/login-w-icon.png" alt="Avatar">
      </div>
  </div>
  <form class="user-details" [formGroup]="formEditProfile" (ngSubmit)="submit(formEditProfile)">
      <div class="user-details__username">
          <label class="field">Username</label>
          <input class="form__control" type="text" name="name" id="name" placeholder="username">
      </div>
      <div class="user-details__email">
          <label class="field">Email</label>
          <input class="form__control" type="text" name="email" id="email" placeholder="email">
      </div>
      <div class="user-details__password">
          <label class="field">New password</label>
          <input class="form__control" type="password" name="password" id="password">
      </div>
      <div class="user-details__confirmpassword">
        <label class="field">Confirm password</label>
        <input class="form__control" type="password" name="confirmpassword" id="confirmpassword">
      </div>
    </form>
  <div class="form__actions">
    <button type="submit" class="btn btn__update" [disabled]="formEditProfile.invalid">update account</button>
  </div>
</div>
