@import '../../../../sass/variables';
@import '../../../../sass/rem';

.btn--generate-heatmap, .btn--discard-heatmap {
  background-color: $primary;
  color: $secondary;
  height: rem(30px);
  text-align: center;
  cursor: pointer;
  z-index: 10;
  font-size: 0.7rem;


}

.btn--generate-heatmap::before {
  content: url('../../../../assets/icons/heatmap.svg');
  //background-image: url('../../assets/icons/heatmap.svg');
  height: rem(12px);
  width: rem(12px);
  display: inline-block;
  margin-right: rem(8px);

}
