/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@500&display=swap');
@import url('@mapbox/mapbox-gl-directions/dist/mapbox-gl-directions.css');

@import './sass/reset';
@import './sass/variables';
@import './sass/base';
@import './sass/rem';
@import './sass/formvalidations';
@import './sass/form';
@import './sass/popup';

@import './sass/mixins/mixins';

@import './app/components/shared/map/map.component';


.mat-dialog-container {
    padding: unset !important;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  padding-left: 30px;
  border-radius: 8px;
  border: 1px solid $primary;
}
.mapboxgl-ctrl-geocoder--icon-search {
  left: 5px;
  top: 10px;
}

.mapbox-directions-origin {
  border-radius: 8px 8px 8px 8px;
}
.mapboxgl-ctrl-geocoder {
  border-radius: 8px 8px 8px 8px;
}

.mapbox-directions-profile {
  border: 1px solid $primary;
}



