<button (click)="toggle()" type="button" class="btnsvg btnsvg-filters">
  <svg class="svg svg-filters" xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 24 24" fill="none" stroke="#606060" stroke-linejoin="bevel">
          <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
  </svg>

</button>

<div class="sidebar" *ngIf="isOpen" [ngClass]="isOpen ? 'sidebarShow' : 'sidebar'">
  <button (click)="toggle()" type="button" class="btn btn--close sidebar__close">&times;</button>
  <h1 class="sidebar__title">Geocatalog</h1>
  <div class="sidebar__body">
      <ul class="sidebar__sublist">
          <div class="checkbox-option">
              <span>Select all</span>
              <input class="sidebar__checkbox" type="checkbox" id="selectall">
              <label class="sidebar__label" for="selectall"></label>
          </div>
      </ul>
      <h2 class="sidebar__subtitle">Madrid City Layers</h2>
      <ul class="sidebar__sublist">
          <div class="checkbox-option">
              <span>Barrios</span>
              <input class="sidebar__checkbox" type="checkbox" id="barrios" name="barrios">
              <label class="sidebar__label" for="barrios"></label>
          </div>
          <div class="checkbox-option">
              <span>Portales</span>
              <input class="sidebar__checkbox" type="checkbox" id="portales" name="portales">
              <label class="sidebar__label" for="portales"></label>
          </div>
          <div class="checkbox-option">
              <span>Extrusion 3D</span>
              <input class="sidebar__checkbox" type="checkbox" id="extrusion" name="extrusion">
              <label class="sidebar__label" for="extrusion"></label>
          </div>
          <div class="checkbox-option">
              <span>Camaras Madrid Central</span>
              <input class="sidebar__checkbox" type="checkbox" id="camaras" name="camaras">
              <label class="sidebar__label" for="camaras"></label>
          </div>
      </ul>
      <h2 class="sidebar__subtitle">Meteo & Air Quality</h2>
      <ul class="sidebar__sublist">
          <div class="checkbox-option">
              <span>Meteo</span>
              <input class="sidebar__checkbox" type="checkbox" id="meteo" name="meteo">
              <label class="sidebar__label" for="meteo"></label>
          </div>
          <div class="checkbox-option">
              <span>Air quality</span>
              <input class="sidebar__checkbox" type="checkbox" id="air" name="air">
              <label class="sidebar__label" for="air"></label>
          </div>
      </ul>
  </div>

</div>
