@import '../../../../sass/variables';
@import '../../../../sass/rem';
@import '../../../../sass/base';


//-------------------
//----------btn que venia de footer pero para
//----------hacer el sidebar toggle se necesitaba aqui
//---------------------
.btnsvg-filters {
  margin-left: 2rem;
}

//-----------------------------------
//--------------------sidebar original style
//-----------------------------------

.sidebar {
  position: fixed;
  z-index: 150;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  background-color: $primary-sft2;
  color: $secondary;
  height: 100vh;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.175);
  transform: translate3d(-100%,0,0);
  transition: transform 0.6s ease-out;

}

.sidebarShow {
  transform: translate3d(0,0,0);
}

.sidebar__title {
  background-color: $primary;
  color: $secondary;
  padding: 15px 40px;
  height: 50px;
  font-weight: bold;
  font-size: 1.1rem;
}

.sidebar__sublist {
  display: block;
  padding: 20px;
}

.sidebar__field {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidebar__subtitle {
  height: 50px;
  text-align: left;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: $secondary;
  color: $primary;
  font-style: italic;
  letter-spacing: 1px;
}


